# Temporary extracted image files
.temp/

# Local VS Code config directory
.vscode/

# Files without an extension
*
!/**/
!*.*

# macOS stuff
.DS_Store

# Videos used for testing the program
testvid*
