# Files without an extension
*
!/**/
!*.*

# Temporary extracted image files
.temp/

# macOS stuff
.DS_Store

# Local VS Code config directory
.vscode

# Build files
main.*
!main.cpp

# Videos used for testing the program
testvid*
